body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
    top: 50px;
    font-size: 14pt;
    background-color: dimgray;
    justify-content: center;
    text-align: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}
audio {
    margin: 20px auto;
    border: 2px solid #333;
    /* border-radius: 20px; */
    background-color: #ccc;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
}
button:hover {
    background-color: #333;
}
input {
    height: 36px;
    padding: 0px 8px 0px;
    border: 2px solid #333;
    border-radius: 10px;
    outline: none;
}

.audio-container {
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.audio-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.audio-title {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.audio-description {
    margin-bottom: 20px;
    color: #666;
}

.audio-container audio::-webkit-media-controls-panel {
    background-color: #ccc;
    border-radius: 10px;
}